@model Models.UserIngame

@{
    ViewData["Title"] = "Info";
}

<h2>Account info</h2>

<div>

    <hr />
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <dl class="dl-horizontal">

                    <dt>
                        @Html.DisplayNameFor(model => model.username)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.username)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ingameGeld)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ingameGeld)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.level)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.level)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.xp)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.xp)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.levens)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.levens)
                    </dd>
                </dl>
            </div>
            <div class="col-sm">
                <dl class="dl-horizontal">
                    @foreach (var item in Model.itemlist)
                    {
                        <dd>
                            @Html.DisplayFor(model => item.Item_naam)
                        </dd>
                    }
                </dl>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Verwijder account", "Delete", "User", new { id = Model.user_id })
</div>