@model PersonalappV3.Models.WinkelView
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Winkel";
}
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="~/css/imagehover.min.css" rel="stylesheet" />
</head>

<h2>Boerenbond</h2>

<h4>De winkel voor iedereen!</h4>
<hr />

<div class="container">
    <i class="fas fa-money-bill-wave-alt"> @Context.Session.GetInt32("user_geld")</i>
   
    @if (TempData["ItemNietKopen"] != null)
    {
        <div id="message">
            <div style=" padding: 5px;">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <p>@TempData["ItemNietKopen"]</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>

        TempData.Remove("ItemNietKopen");
    }
    else if (TempData["ItemWelBetalen"] != null)
    {
        <div id="message">
            <div style=" padding: 5px;">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <p>@TempData["ItemWelBetalen"]</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    }

    <div class="row">

        @foreach (var item in Model.ItemList)
        {
            <div class="col-sm-3">
                <figure class="imghvr-fade">
                    <img src="~/images/gun.jpeg" />

                    <figcaption>
                        <h3> @Html.DisplayFor(model => item.Item_naam)</h3>
                        <p> @Html.DisplayFor(model => item.Item_beschrijving)</p>
                        <p>@Html.DisplayFor(model => item.Item_prijs)</p>
                    </figcaption>
                    @Html.ActionLink("Kopen", "ItemKopen", "Winkel", new { item_id = item.Item_id }, new { onclick = "return confirm('Weet u zeker dat je dit item wilt kopen?');" })
                </figure>
            </div>
        }
    </div>
</div>